<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>
    <!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>-->
    <script src="https://cdn.staticfile.org/x-tag/2.0.9-alpha/x-tag-raw.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery.pjax/2.0.1/jquery.pjax.js"></script>

    {% block scripts %}{% endblock %}
</body>

</html>
